.brand-button {
  @extend .btn;
  margin-bottom: map-get($spacers, 1);

  &.circle {
    align-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 100%;
  }
}

.brand-button.spotify {
  @include button-variant(
    $jg-brand-spotify,
    $jg-brand-spotify,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.google {
  @include button-variant(
    $jg-brand-google,
    $jg-brand-google,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.microsoft {
  @include button-variant(
    $jg-brand-microsoft,
    $jg-brand-microsoft,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.apple-podcasts {
  @include button-variant(
    $jg-brand-apple-podcasts,
    $jg-brand-apple-podcasts,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.apple {
  @include button-variant(
    $jg-black,
    $jg-black,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.youtube {
  @include button-variant(
    $jg-brand-youtube,
    $jg-brand-youtube,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.rss {
  @include button-variant(
    $jg-brand-rss,
    $jg-brand-rss,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.discord {
  @include button-variant(
    $jg-brand-discord,
    $jg-brand-discord,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.buttondown {
  @include button-variant(
    $jg-brand-buttondown,
    $jg-brand-buttondown,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.email {
  @include button-variant(
    $jg-dark,
    $jg-dark,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.calendar {
  @include button-variant(
    $jg-brand-google,
    $jg-brand-google,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}
