.card-badge {
  @extend .badge;
  position: absolute;
  top: map-get($spacers, 2);
  right: map-get($spacers, 2);
  z-index: 1;
  font-weight: $font-weight-normal;
  color: var(--bs-white);
  background-color: var(--jg-bg-dark);
  box-shadow: color-mix(in srgb, var(--jg-shadow-color) 24%, transparent) 0 map-get($spacers, 1) map-get($spacers, 1);
}

.card-badge.lg {
  top: map-get($spacers, 3);
  right: map-get($spacers, 3);
  font-size: $font-size-base;
}

.card-badge .bi {
  margin-right: map-get($spacers, 1);
}
