.document-section {
  position: relative;
  padding-top: map-get($spacers, 5);
  margin: map-get($spacers, 5) 0;
  margin-top: map-get($spacers, 5) + .5rem;
  border-top: 2px solid var(--bs-body-color);
}

.document-section-heading {
  @extend .fs-4;
  @extend .font-monospace;
  @extend .text-uppercase;
  @extend .m-0;
  position: absolute;
  top: 0;
  padding-right: $spacer;
  font-weight: $font-weight-normal;
  color: var(--bs-body-color);
  background-color: var(--jg-bg-page);
  transform: translate(0, -50%);
}
