.guarantor {
  display: flex;
  padding: $spacer;
  margin: 0 auto $spacer;
  color: var(--jg-text-on-highlight);
  background-color: var(--jg-bg-highlight);
  border-radius: $border-radius-sm;
}

.guarantor-image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  filter: contrast(1.1);
  border-radius: 100%;
}

.guarantor-body {
  padding-left: $spacer;
}

.guarantor-body *:last-child {
  margin-bottom: 0;
}

.guarantor-body .guarantor-note {
  &,
  a {
    color: var(--jg-text-secondary-on-highlight);
  }
}

