.link-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacer;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  &.wide {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.link-card {
  @extend .card;
  width: 100%;
  overflow: hidden;
  background-color: var(--jg-bg-primary);
  border: 1px solid var(--jg-bg-primary);
}

.link-card.highlighted {
  color: var(--jg-text-on-highlight);
  background-color: var(--jg-bg-highlight);
  border-color: var(--jg-border-accent);
}

.link-card-image {
  @extend .card-img-top;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: .5;
}

.link-card:hover .link-card-image {
  filter: grayscale(0%);
  opacity: 1;
  transition: $transition-base;
}

.link-card-badge {
  @extend .card-badge;
}

.link-cards.wide .link-card-badge {
  @extend .card-badge, .lg;
}

.link-card-header {
  position: relative;
}

.link-card-title {
  @extend .card-title;
  @extend .card-body;
  @extend .fs-5;
  padding-bottom: map-get($spacers, 2);
  margin: 0;
}

.link-card-link {
  @extend .stretched-link;
  text-decoration: none;

  &,
  &:visited {
    color: var(--bs-link-color);

    .link-card.highlighted & {
      color: var(--jg-link-on-highlight);
    }
  }

  &,
  &:visited:hover {
    color: var(--bs-link-hover-color);

    .link-card.highlighted & {
      color: var(--jg-link-on-highlight-hover);
    }

  }
}

.link-card-link:hover,
.link-card-link:focus,
.link-card-link:active {
  text-decoration: underline;
}

.link-card-body {
  @extend .card-body;
  padding-top: 0;
}

.link-card-text {
  @extend .card-text;
}
