@keyframes heartbeat {
  0% {
    font-size: map-get($spacers, 3);
    color: var(--jg-text-accent);
  }
  50% {
    font-size: map-get($spacers, 4);
    color: var(--jg-text-accent-hover);
  }
  100% {
    font-size: map-get($spacers, 3);
    color: var(--jg-text-accent);
  }
}

.love-button {
  @extend .btn;
  @extend .btn-lg;
  @include button-variant(
    $jg-pink,
    $jg-pink,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}
