.newsletter-issue {
  max-width: 70ch;
  padding: $spacer;
  margin: 0 auto;
  background-color: var(--jg-bg-subtle);
  border: 1px solid var(--jg-border-default);
  border-radius: $border-radius;

  @include media-breakpoint-up(md) {
    padding: $jg-main-spacer;
  }
}

.newsletter-issue-date {
  @extend .font-monospace;
  @extend .text-uppercase;
  margin-bottom: $jg-main-spacer;
  color: var(--jg-text-secondary);
  text-align: center;
}
