.note-explainer {
  @extend .list-unstyled;
  display: flex;
  flex-direction: column;
  gap: $spacer;
  padding: $spacer;
  background-color: var(--jg-bg-primary);
  border-radius: $border-radius;
}

.note-explainer-item {
  display: flex;
  gap: $spacer;
  align-items: flex-start;
}

.note-explainer-item .bi {
  color: var(--jg-text-link);
}
