.note {
  @extend .alert;
  background-color: var(--jg-bg-subtle);
  border: 1px dotted var(--jg-border-primary);
}

.note i {
  margin-right: map-get($spacers, 2);
  color: var(--jg-text-link);
}

.note *:last-child {
  margin-bottom: 0;
}
