@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 color-mix(in srgb, var(--jg-shadow-color) 20%, transparent);
  }
  70% {
    box-shadow: 0 0 0 map-get($spacers, 4) color-mix(in srgb, var(--jg-shadow-color) 0%, transparent);
  }
  100% {
    box-shadow: 0 0 0 0 color-mix(in srgb, var(--jg-shadow-color) 0%, transparent);
  }
}

.pulse {
  animation: pulse 3s infinite;
}

.pulse-hover:hover {
  animation: pulse 3s infinite;
}
