$jg-sponsor-avatar-size: 2.5rem;

.sponsor-avatars {
  @extend .list-unstyled;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -1 * $spacer;
}

.sponsor-avatars-item {
  display: flex;
  align-items: center;
  margin: 0 map-get($spacers, 1) $spacer;

  @include media-breakpoint-up(sm) {
    margin: 0 map-get($spacers, 2) $spacer;
  }
}

.sponsor-avatars-caption {
  @extend .small;
  white-space: nowrap;
}

.sponsor-avatars-caption,
.sponsor-avatars-caption a {
  color: var(--jg-text-secondary);
}

.sponsor-avatars img {
  width: $jg-sponsor-avatar-size;
  height: $jg-sponsor-avatar-size;
  background-color: var(--bs-white);
  border-radius: 100%;
}
