.comments {
  background-color: var(--jg-bg-primary);
}

.comments-container {
  @extend .container-lg;
  max-width: $jg-main-document-width;
  padding-top: $jg-main-spacer;
  padding-bottom: $jg-main-spacer;
}
