.main-sections {
  @extend .container-fluid;
  padding-right: 0;
  padding-left: 0;
}

.section {
  @extend .container-lg;
  padding-top: $jg-main-spacer - $spacer;
  padding-bottom: $jg-main-spacer - $spacer;
}

.section.standout {
  padding: $jg-main-spacer 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section .headerlink {
  @extend .visually-hidden;
}

.section-background.dark {
  color: var(--bs-white);
  background-color: var(--jg-bg-dark);
}

.section-background.blue {
  color: var(--bs-white);
  background-color: var(--jg-bg-active);
}

.section-background.blue-light {
  background-color: var(--jg-bg-primary);
}

.section-background.yellow {
  color: var(--jg-text-on-highlight);
  background-color: var(--jg-bg-highlight);
}

.section-background.yellow-light {
  color: var(--jg-text-on-highlight);
  background-color: var(--jg-bg-accent);
}

.section-background.gray-white {
  background-color: var(--jg-bg-secondary);
}
